<div class="">
    <div class="">
        <h1>New Articles</h1>
        <ul>

        {% for article in articles %}
            <blockquote>
                <p class="text-warning">{{ article.title }}</p>
                <p class="text-info">{{ article.content }}</p>
                <small>Crée le {{ article.createdAt|date('d/m/Y H:i') }}</small>
                <a href="{{ path('article_author', { 'author': article.author }) }}">{{ article.author }}</a>
            </blockquote>

        {% endfor %}
        </ul>
    </div>
</div>