<ul>
    {% for post in articles %} <!-- Pour chaque tutoriel dans notre tableau tutoriel -->
        <li>{{ post.title }} par {{ post.author }}</li>
        Cree a {{ post.createdAt|date('d/m/Y H:i') }}<br>
        {{ post.content }}<br><br>
        <a href="{{ path('article_author', { 'author': article.author }) }}">{{ article.author }}</a>

    {% endfor %}
</ul>